.service-banner-section {
    margin-top: 80px;
    padding: 50px 0;

    .service-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        padding: 25px 0;
    }

    .ul {
        display: block !important;
        list-style-type: disc;
        padding-left: 20px;
      }

    .reverse {
        flex-direction: row-reverse; // Reverse odd sections
    }

    .service-banner-text {
        text-align: left;

        h2 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #333;
        }

        p {
            font-size: 18px;
            color: #666;
            margin-bottom: 20px;
        }
    }

    .service-banner-img {
        text-align: right;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}

// Responsive Design
@media (max-width: 768px) {
    .service-item {
        flex-direction: column !important;
        text-align: center;

        .service-banner-text {
            text-align: center;
        }

        .service-banner-img {
            text-align: center;
            margin-top: 20px;
        }
    }
}
